body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0a1b2d, #122e4b); /* Dégradé sombre */
    color: #e0e0e0; /* Couleur du texte douce */
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne */
    justify-content: flex-start; /* Aligne les éléments vers le haut */
    align-items: center; /* Centre horizontalement */
    height: 100vh; /* Remplir toute la hauteur de la fenêtre */
    padding: 0px; /* Ajout d'espacement pour éviter que le contenu touche le bord */
}

.container {
    position: relative; /* Position pour le logo et la barre de recherche */
    z-index: 1; /* S'assurer que le contenu est au-dessus de l'arrière-plan */
    width: 100%; /* S'assure que le conteneur prend toute la largeur */
    max-width: 600px; /* Ajustez si nécessaire */
    margin-top: 0; /* Pas de marge en haut pour remonter au maximum */
    text-align: center; /* Centre le contenu du conteneur */
}


.logo {
    width: 250px; /* Largeur agrandie du logo */
    height: auto; /* Auto pour la hauteur */
    margin-bottom: 20px; /* Espacement entre le logo et la barre de recherche */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* S'assurer que le conteneur prend toute la largeur */
    max-width: 600px; /* Ajustez si nécessaire */
}

.search-bar {
    width: 90%; /* Largeur de la barre de recherche */
    padding: 10px; /* Ajout d'espacement interne */
    border: none;
    border-radius: 20px 0 0 20px; /* Coins arrondis à gauche */
    outline: none;
    background-color: #333333; /* Couleur de fond de la barre de recherche */
    color: #ffffff; /* Couleur du texte */
    font-size: 16px; /* Taille de police */
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
    text-align: center;
}
.search-bar::placeholder {
    color: #aaaaaa; /* Couleur du placeholder */
}

.search-bar:hover {
    background-color: #444444; /* Couleur de fond au survol */
}


.search-button {
    padding: 10px; /* Espacement interne du bouton */
    border: none;
    border-radius: 0 20px 20px 0; /* Coins arrondis à droite */
    background-color: #1a1a1a; /* Couleur du bouton */
    color: white;
    font-size: 16px; /* Taille de la police du bouton */
    cursor: pointer;
    transition: background-color 0.3s; /* Transition pour le changement de couleur */
    /* Ajoutez ceci pour éviter d'avoir un bouton de taille différente */
    height: 100%; /* Assurez-vous que le bouton remplit la hauteur de la barre de recherche */
}
.search-button i {
    font-size: 22px; /* Ajustez la taille de l'icône */
}

.search-button:hover {
    background-color: #0056b3; /* Couleur au survol du bouton */
}
.footer {
    position: fixed; /* Position fixe pour rester en bas de la fenêtre */
    bottom: 0; /* Toujours en bas */
    left: 0; /* Aligné à gauche */
    width: 100%; /* Prend toute la largeur de la page */
    color: #e0e0e0; /* Couleur du texte */
    font-size: 14px; /* Taille de la police */
    z-index: 1; /* Assurez-vous qu'il est au-dessus de l'arrière-plan */
    text-align: center; /* Alignement centré */
    background-color: #333333; /* Arrière-plan légèrement transparent */
    padding: 10px; /* Espacement interne */
    border-top: 1px solid #444; /* Une légère bordure en haut pour la séparation */
}

